// AGILE SLIDER
.agile {
  &__actions {
    margin-top: 2.5rem;

    @include respond(mobile) {
      margin-top: 1.5rem;
    }

    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font: inherit;
      font-size: 3rem;
      font-weight: 800;
      color: $color-blue-2;
      transition: color 0.5s;

      @include respond(mobile) {
        font-size: 2.5rem;
      }

      &:hover {
        color: $color-azure;
      }
    }
  }

  &__dot {
    margin: 0 0.5rem;

    button {
      background-color: transparent;
      border: 1px solid $color-blue-2;
      transform: rotate(45deg);
      cursor: pointer;
      display: block;
      height: 0.9rem;
      width: 0.9rem;
      font-size: 0;
      line-height: 0;
      transition: all 0.5s;
    }

    &--current button {
      background-color: $color-blue-2;
    }

    &:hover button {
      @media (hover: hover) {
        background-color: $color-blue-2;
      }
    }
  }
}
